h1 Editing condition

== render 'form',
          action_url: admin_condition_path(@condition),
          action_method: :put

=> link_to 'Show', admin_condition_path(@condition)
'|
=< link_to 'Back', admin_conditions_path

