li = link_to answer.text, admin_answer_path(answer)
=<> link_to 'Edit', edit_admin_answer_path(answer)
'|
=< link_to 'Delete', admin_answer_path(answer), data: {confirm: 'Are you sure?'}, method: :delete
