h1 = t('.header', question_name: @answer.question.text)

== render 'form'

=> link_to t('actions.show'), admin_answer_path(@answer)
'|
=< link_to t('actions.back'), admin_question_path(@answer.question)
